.git
.github
.mimocode
.env
.env.*
!.env.example
!.env.testing
.vscode
.idea
.nova
.fleet
.zed
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
public/build
public/hot
public/storage
*.log
.DS_Store
Thumbs.db
docker-compose.prod.yml
phpstan.neon
phpstan.neon.dist
.phpstan-result-cache
